.card{
    width: 95rem;
}
div.footer{
    color: rgb(9, 56, 224);
}
h1{
color:rgb(255, 255, 255);
text-align: center;
}
#logo {

    float: center;
    background-image: url(as.png);
    width: 100px;
    height: 100px;
}